@import url('https://fonts.googleapis.com/css?family=Marvel&display=swap');

html, html * {
  font-family: 'Marvel', sans-serif;
}

body, html, #root {
  background-color: #F0131E;
}

.page-background {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  padding-top: 50px;
}

.marvel-logo {
  width: 400px;
}

.menu {
  display: flex;
  align-items: center;
}

.menu a {
  font-size: 30px;
  margin-right: 10px;
  color: #ffffff;
  text-decoration: none;
}

.menu a:hover {
  color: #ffffff;
  text-decoration: underline;
}

.navbar {
  width: 90%;
  max-width: 928px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 10px 0;
}

.navbar .marvel-logo {
  width: 100px;
}

.navbar .menu a {
  font-size: 20px;
}

.grid {
  display: flex;
  width: 90%;
  max-width: 968px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 50px;
}

.grid-item {
  position: relative;
  width: 200px;
  background-color: #ffffff;
  margin: 10px 10px 0 0;
}

.grid-item .item-title {
  text-align: center;
  height: calc(100% - 220px);
  display: flex;
  justify-content: center;
  padding: 5px;
}

.item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px;
  padding: 10px;
  background-color: #ffffff;
}

.item-container h4, .item-container h6, .item-container p {
  margin-bottom: 0;
}